cffi==1.14.3
chardet==3.0.4
mysqlclient==1.4.0
cryptography
Django==3.1.1
django-cors==0.1
django-cors-headers==3.5.0
django-simpleui==2020.9.26
djangorestframework==3.11.1
idna==2.10
pycparser==2.20
PyMySQL==0.10.1
pytz==2020.1
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
urllib3==1.25.10
